/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"

// tap windows for ctl alt and gui

#define HM_TAPPING_TERM 250
#define HM_TAPPING_REPEAT 210

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH1 LH0 RH0 RH1
#define KEYS_T LH1 LH0 RH0 RH1
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    // Activate ADJUST layer by pressing raise and lower

    behaviors {
        hr: homerow {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <130>;
            require-prior-idle-ms = <130>;
            hold-trigger-on-release;
        };

        hr_shft: homerow_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <130>;
        };

        sb_lt: sb_lt {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "balanced";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        cb_caps {
            bindings = <&kp CLCK>;
            key-positions = <3 4>;
            require-prior-idle-ms = <130>;
        };

        cb_tab {
            bindings = <&kp TAB>;
            key-positions = <3 2>;
            require-prior-idle-ms = <130>;
        };

        cb_lgui {
            bindings = <&kp LGUI>;
            key-positions = <27 26>;
            require-prior-idle-ms = <130>;
        };

        cb_rgui {
            bindings = <&kp RGUI>;
            key-positions = <34 35>;
            require-prior-idle-ms = <130>;
        };

        cb_quote {
            bindings = <&kp SQT>;
            key-positions = <21 22>;
            layers = <0>;
        };

        cb_ralt_lc {
            bindings = <&kp RALT>;
            key-positions = <8 9>;
            require-prior-idle-ms = <130>;
            timeout-ms = <40>;
        };

        cb_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            require-prior-idle-ms = <130>;
        };

        cb_lalt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <14 15>;
            require-prior-idle-ms = <130>;
            timeout-ms = <40>;
        };

        cb_lctrl {
            bindings = <&kp LCTRL>;
            key-positions = <15 16>;
            require-prior-idle-ms = <130>;
            timeout-ms = <40>;
        };

        cb_lctrl_lalt {
            bindings = <&kp LC(LALT)>;
            key-positions = <14 15 16>;
            require-prior-idle-ms = <130>;
        };

        cb_ralt {
            bindings = <&kp LALT>;
            key-positions = <20 21>;
            require-prior-idle-ms = <130>;
            timeout-ms = <40>;
        };

        cb_rctrl {
            bindings = <&kp LCTRL>;
            key-positions = <19 20>;
            require-prior-idle-ms = <130>;
            timeout-ms = <40>;
        };

        cb_rctrl_ralt {
            bindings = <&kp LC(LEFT_ALT)>;
            key-positions = <19 20 21>;
            require-prior-idle-ms = <130>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&none      &kp Q  &kp W  &kp E         &kp R           &kp T                         &kp Y            &kp U               &kp I                &kp O    &kp P          &none
&none      &kp A  &kp S  &kp D         &kp F           &kp G                         &kp H            &kp J               &kp K                &kp L    &kp SEMICOLON  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V           &kp B      &kp C_MUTE  &none  &kp N            &kp M               &kp COMMA            &kp DOT  &kp FSLH       &kp RSHFT
&none      &none  &none  &lt 2 ESCAPE  &sb_lt 1 SPACE  &lt 3 TAB                     &mt LCTRL ENTER  &sb_lt 4 BACKSPACE  &mt LEFT_ALT DELETE  &none    &none          &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_DN PG_UP>;
        };

        Number {
            display-name = "Num";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT       &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &kp EQUAL  &kp N4  &kp N5   &kp N6  &kp BACKSLASH  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp MINUS  &kp N1  &kp N2   &kp N3  &kp GRAVE      &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &kp N9     &kp N0  &kp DOT  &trans  &trans         &trans
            >;
        };

        Symbol {
            display-name = "Sym";
            bindings = <
&trans  &kp LC(Q)  &kp LC(W)  &kp LC(E)  &kp LC(R)  &kp LC(T)                  &kp LS(LBKT)   &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(RBKT)       &trans
&trans  &kp LC(A)  &kp LC(S)  &kp LC(D)  &kp LC(F)  &kp LC(G)                  &kp LS(EQUAL)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp LS(BACKSLASH)  &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(B)  &trans  &trans  &kp LS(MINUS)  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(GRAVE)      &trans
&trans  &trans     &trans     &trans     &trans     &trans                     &kp LS(N9)     &kp LS(N0)  &kp DOT     &trans      &trans             &trans
            >;
        };

        Function {
            display-name = "Func";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &kp PRINTSCREEN  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &kp SCROLLLOCK   &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp PAUSE_BREAK  &kp F1  &kp F2  &kp F3  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans           &trans  &trans  &trans  &trans   &trans
            >;
        };

        Navigation {
            display-name = "Nav";
            bindings = <
&trans  &kp INS    &kp END    &kp UP_ARROW  &kp HOME   &kp PG_UP                      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(A)  &kp LEFT   &kp DOWN      &kp RIGHT  &kp PG_DN                      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)     &kp LC(V)  &kp LC(LS(Z))  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans        &trans     &trans                         &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
